.header__container {
  position: sticky;
  top: 0;
  background-color: var(--white);
  z-index: 1000;
}

.header__container__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}

.header__container__left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header__container__right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header__logo {
  order: 2;
}

.header__profile {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 50%;
}

.header__profile img {
  width: 100%;
}

.header__profile:after {
  transition: 200ms ease-in-out;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  border: none;
  border-color: var(--primary-color);
}

.header__profile:hover:after {
  border: 1px solid var(--primary-color);
}

@media (width > 768px) {
  .header__logo {
    order: 0;
  }
}
